@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --primary: #2F80ED;
      --primary-background: #4F4F4F;
      --primary-foreground: #828282;
      --primary-text: #E0E0E0;

      --indicator-orange: #F8B76B;
      --indicator-blue: #8785FF;
      --indicator-red: #EB5757;
      --indicator-yellow: #F2C94C;

      --chats-yellow: #E5A443;
      --chats-lightyellow: #FCEED3;
      --chats-purple: #9B51E0;
      --chats-lightpurple: #EEDCFF;
      --chats-green: #43B78D;
      --chats-lightgreen: #D2F2EA;

      --stickers-one: #E9F3FF;
      --stickers-two: #FDCFA4;
      --stickers-three: #F9E9C3;
      --stickers-four: #AFEDBD;
      --stickers-five: #CBF1C2;
      --stickers-six: #CFCEF9;
      --stickers-seven: #F9E0FD;

      --radius: 0.5rem;
    }

    .dark {
      --primary: 210 40% 98%;
      --primary-foreground: 222.2 47.4% 11.2%;
    }
  }

  